<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión Escolar</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Sistema Escolar</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'student-list' %}">Estudiantes</a>
                <a class="nav-item nav-link" href="{% url 'teacher-list' %}">Profesores</a>
                <a class="nav-item nav-link" href="{% url 'course-list' %}">Cursos</a>
                <a class="nav-item nav-link" href="{% url 'enrollment-list' %}">Matrículas</a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>